/* Intestazione della pagina */

body{
    margin: 0;
}

header{
    background-color: rgb(174, 213, 243);
    height: 130px;
}

#logo{
    margin-top: 35px;
    margin-left: 10px;
}

/* Corpo della pagina */

main{
    margin: 15px;
}

h1{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

#author{
    margin-top: 0;
    font-size: 22px;
    color: gray;
    line-height: 1;
    
}

#date{
    font-weight: 100;
    font-size: 16px;
}

#booleaner{
    color: rgb(112, 150, 252);
}